.hii{
    color: white;
}
li{
    color:white;
}
.tasks{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}
a{
    color: rgb(94, 94, 241);
}
.uni{
    height: 100px;
    width:200px;
    border: 2px solid yellow;
}