<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sourav" method="post">
                <input class="block w-full rounded-md outline-none px-5 py-2 bg-zinc-800 hii"  type="text" placeholder="Previous name" name="previous">
                <input class="block w-full rounded-md outline-none mt-2 px-5 py-2 bg-zinc-800 resize-none hii" type="text" placeholder="Enter the changed name" name="current">
                <input class="mt-2 hii bg-blue-600 rounded-md px-5 py-2" type="submit" value="Edit Name">
                <h1><%= prev %></h1>
            </form>
</body>
</html>